<div data-ng-include="'/static/blog/layout/head.html'" data-ng-controller="HeaderController">
</div>

<div class="container-fluid">
    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <span class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center demo-panel-title overview-title ">
                    Blog
                </span>
            </div>
            <div class="row">
                <span class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center overview-easy">
                    让&nbsp;博&nbsp;客&nbsp;更&nbsp;简&nbsp;单
                </span>
            </div>
            <div class="row">
                <small class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center">
                    获取知识，先从分享开始 <(￣︶￣)/
                </small>
            </div>
            <div class="row">
                <span class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center overview-three">
                    <span class="col-xs-12 col-sm-12 col-md-4 text-center fui-user"><strong>&nbsp;关于我</strong></span>
                    <span class="col-xs-12 col-sm-12 col-md-4 text-center fui-windows"><strong>&nbsp;博客</strong></span>
                    <span class="col-xs-12 col-sm-12 col-md-4 text-center fui-chat"><strong>&nbsp;留言区</strong></span>
                </span>
            </div>
        </div>
    </div>
</div>

<!--
<div id="view">
  <div id="frame">
    <div id="Overview" name="Overview" class="op-section" xmlns="http://www.w3.org/1999/html">11111
        <div data-ng-include="'/static/blog/layout/head.html'" data-ng-controller="HeaderController">
        </div>
    </div>
    <div class="op-section second">2222222</div>
    <div class="op-section third">33333333</div>
  </div>
</div>
-->

