{% extends 'common/base.html' %}

{% block headcss %}
    <link href="{{ STATIC_URL }}plugins/umeditor/lib/umeditor/dist/utf8-php/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}plugins/css/biger/blog_view.css" type="text/css" rel="stylesheet">

{% endblock %}
{% block content %}
    <div data-ng-controller="BlogViewController">
        <div id="BlogView" name="BlogView" class="op-section" xmlns="http://www.w3.org/1999/html">
            <div data-ng-include="'/static/blog/templates/blog_view.html'">
            </div>
        </div>

    </div>

<input id="blog_id"  style="display:none" value="{{ blog_id }}"/>
{% endblock %}