    <!-- jquery first  -->
    <script src="{{ STATIC_URL }}plugins/js/jquery.min.js" type="text/javascript"></script>
    <!--jquery md5 password-->
    <script src="{{ STATIC_URL }}plugins/js/jquery-MD5.js" type="text/javascript"></script>
    <!-- overview page scroll function -->
    <script src="{{ STATIC_URL }}plugins/js/onepage.js" type="text/javascript"></script>

    <!-- angular then  -->
    <script src="{{ STATIC_URL }}plugins/js/angular/angular.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/js/angular/angular-cookies.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/js/angular/angular-route.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/js/angular/angular-touch.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/js/angular/angular-resource.min.js" type="text/javascript"></script>
    <!-- angularjs animation plugins-->
    <script src="{{ STATIC_URL }}plugins/js/angular/angular-animate.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/js/angular/bower-angular-translate/angular-translate.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/js/angular/bower-angular-translate-loader-static-files-master/angular-translate-loader-static-files.min.js" type="text/javascript"></script>
    <!-- the popup plugins   -->
    <script src="{{ STATIC_URL }}plugins/js/ngDialog.min.js" type="text/javascript"></script>
    <!-- ourselves angularjs script   -->
    <script src="{{ STATIC_URL }}blog/app.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}blog/scripts/factorys.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}blog/scripts/filters.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}blog/scripts/directives.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}blog/scripts/services.js"  type="text/javascript"></script>

    <!-- angular umeditor plugins -->
    <script src="{{ STATIC_URL }}plugins/umeditor/lib/umeditor/dist/utf8-php/umeditor.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/umeditor/lib/umeditor/dist/utf8-php/umeditor.config.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/umeditor/src/meta.umeditor.js" type="text/javascript"></script>

    <!--angularjs file upload of ng-file upload
    <script src="{{ STATIC_URL }}plugins/js/angular/ngFileUpload/ng-file-upload.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/js/angular/ngFileUpload/ng-file-upload-shim.min.js"></script>
    -->
    <!-- jquery file upload
    <script src="{{ STATIC_URL }}plugins/js/jquery/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/js/jquery/jquery.iframe-transport.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/js/jquery/jquery.fileupload.js" type="text/javascript"></script>
-->
    <!--  forget where used
    <script src="{{ STATIC_URL }}plugins/js/other/swfobject.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/js/jquery.pin.min.js" type="text/javascript"></script>
    -->
    <script src="{{ STATIC_URL }}plugins/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/js/flat-ui.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/js/vendor/sweetalert.min.js" type="text/javascript"></script>
    <!-- unkown function
    <script src="{{ STATIC_URL }}plugins/js/vendor/video.js"></script>
    <script src="{{ STATIC_URL }}plugins/js/application.js"></script>

    -->