<!--add some css-->
    <link href="{{ STATIC_URL }}plugins/css/bootstrap.min.css" rel="stylesheet">
<!--add mouse enter onfucus bigger than onblur
    <link href="{{ STATIC_URL }}plugins/css/other/evenFlow.css" rel="stylesheet">
-->
<!-- the Popup style -->
    <link href="{{ STATIC_URL }}plugins/css/ngDialog.min.css"  type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}plugins/css/ngDialog-theme-default.min.css"  type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}plugins/css/flat-ui.min.css"  type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}plugins/css/vendor/sweetalert.css"  type="text/css" rel="stylesheet">

    <!--
    <link href="{{ STATIC_URL }}plugins/css/other/blog_container.css" rel="stylesheet">

    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    -->
